.wrapper{
    background: #f1f1f1;
    width: 100vw; /*100%의미*/
    height: 100vh;
}

.toast{
    background: white;
    border-left: 1rem solid #8a8a8a; /* rem 상대적인 단위 : 기준=폰트 사이즈 -> 폰트가 커지면 비례해서 커짐*/
    border-radius: 0.5rem; /*테두리 둥글게*/
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between; /*가장 양끝*/
    padding: 1rem;
    margin: 1rem auto; /* 위아래 1rem, 좌으는 박스의 넓이의 맞춰짐*/
    width: 25rem;
}
.toast__message-title{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: capitalize; /*글자 굵게 됨*/
}
.toast__message-text{
    margin-bottom: 0;;
}
.toast__button{
    background: transparent; /*투명색*/
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin-left: 1rem;
    opacity: 0.5; /*투명도*/
    padding: 0;
}